<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page</title>

    <!-- link to CSS style sheet-->
    <link href="static/styles.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to the front page</h1>
        <section id="header">
            <h4>
                <a href="#hacker-news">Hacker News</a> | 
                <a href="#reddit">Reddit</a> | 
                <a href="#twitch">Twitch</a>
            </h4>
        </section>
        <div id="logout">
            <h4><a href="{{ url_for('logout') }}"><u>Logout</u></a></h4>
        </div>
    </div>
    
    <hr class="solid">

    <!-- Hacker News section -->
    <section id="hacker-news">
        <h2>
            <!-- website logo -->
            <img src="{{ url_for('static', filename='images/Y_Combinator.png') }}" 
                 alt="Hacker News" 
                 width="35" 
                 height="35" 
                 class="platform-icon">
            <!-- website link -->
            <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a>
        </h2>

        <!-- iterate through articles -->
        {% for article in hackernews_stories %}
        <div class="article">
            <h4><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h4>
            <p>Date: {{ article.time }} | Score: {{ article.upvotes }}</p>
        </div>
        {% endfor %}

        <!-- back to top link -->
        <div class="back-to-top">
            <a href="#header" aria-label="Back to top">
                <span class="underline">Back to top</span>
            </a>
        </div>
    </section>
    <hr class="solid">

    <!-- reddit Section -->
    <section id="reddit">
        <h2>
            <img src="{{ url_for('static', filename='images/Reddit.png') }}" 
                 alt="Reddit" 
                 width="35" 
                 height="35" 
                 class="platform-icon">
            <a href="https://www.reddit.com/r/all/" target="_blank">Reddit</a>
        </h2>

        {% for post in reddit_posts %}
        <div class="post">
            <h4><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h4>
            <p>Date: {{ post.time }} | Upvotes: {{ post.upvotes }} | Subreddit: {{ post.subreddit }}</p>
        </div>
        {% endfor %}
        
        <div class="back-to-top">
            <a href="#header" aria-label="Back to top">
                <span class="underline">Back to top</span>
            </a>
        </div>
    </section>
    <hr class="solid">

    <!-- Twitch Section -->
    <section id="twitch">
        <h2>
            <img src="{{ url_for('static', filename='images/Twitch.png') }}" 
                alt="Twitch" 
                width="35" 
                height="35" 
                class="platform-icon">
            <a href="https://www.twitch.tv/" target="_blank">Twitch</a>
        </h2>
        <div class="twitch-embed-container">
            <iframe src="https://player.twitch.tv/?channel=hasanabi&parent=127.0.0.1&autoplay=false&muted=false&time=0s" 
                    allowfullscreen>
            </iframe>
        </div>
        <div class="back-to-top">
            <a href="#header" aria-label="Back to top">
                <span class="underline">Back to top</span>
            </a>
        </div>
    </section>

</body>

</html>
