<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="static/styles.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    
    <div class="container">
      <h1>Welcome to my news aggregator</h1>
      <section id="header">
          <h4><p><a href="/login"><u>Login</u></a> to go to the front page.</p></h4>
      </section>
  </div>

  </body>
</html>